.content-wrapper {
    width: 100%;
    text-align: center;
  }
  
  .content{
    width: 100%;
    max-width: 1500px;
    display: inline-block;
    /* flex-wrap: wrap; */
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  
  .center {
    text-align: center;
  }

  .url-box {
    border-radius: 10px;
    height: 2rem;
    width: 20rem;
    border: solid gray 1px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .box {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }